apart-guru-TG-VK-IG-TEMPLATE.json
{
  "name": "Apart Guru — Контент-завод (Telegram + VK + Instagram)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9,13,18 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "⏰ Расписание",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        300
      ]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "▶️ Тест",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const types = [\n  {\n    type: 'news',\n    prompt: 'Ты — эксперт-аналитик канала Apart Guru (apart.guru). Пишешь посты для соцсетей про инвестиции в апарт-отели в России.\\n\\nСТИЛЬ:\\n- Заголовок с эмодзи ⚡ или 🔥, цепляющий, как новостной\\n- Суть новости / события — 2-3 абзаца с фактами\\n- Твоё экспертное мнение: как это скажется на рынок апартаментов (ВСЕГДА в позитивном ключе для апартов)\\n- Живой язык, можно с перчинкой, не канцелярит\\n- Можно добавить PS / PPS с дополнительной мыслью\\n\\nТЕМУ ВЫБЕРИ ОДНУ (придумай актуальную новость или тренд):\\n- Законодательные изменения, затрагивающие апартаменты\\n- Рост турпотока в российские города\\n- Банки ужесточают ипотеку на квартиры\\n- Рост цен на классическое жильё\\n- Тренд на удалёнку и краткосрочную аренду\\n\\nВАЖНО: апартаменты всегда подаём в позитивном свете.\\n\\nФормат: 800–1500 символов.\\n\\nВ КОНЦЕ ОБЯЗАТЕЛЬНО добавь:\\n🔗 https://www.apart.guru\\nПомощь с подбором, расчётом доходности и разбором объектов — 👉 @apartgurusupp'\n  },\n  {\n    type: 'comparison',\n    prompt: 'Ты — эксперт-аналитик канала Apart Guru (apart.guru).\\n\\nСТИЛЬ:\\n- Заголовок-противостояние с эмодзи: \"🥊 Апарты vs ...\"\\n- Честное сравнение с цифрами, вывод в пользу апартаментов\\n- Живой язык, можно провокационно\\n\\nТЕМУ ВЫБЕРИ ОДНУ:\\n- Апартаменты vs акции\\n- Апартаменты vs облигации\\n- Апартаменты vs квартиры под сдачу\\n- Апартаменты vs франшизы\\n- Апартаменты vs вклады\\n- Апартаменты vs крипта\\n\\nДАННЫЕ: доходность апартов 14-20% годовых, NOI 1.16М₽/год, средняя цена 8М₽, вход от 4.45М₽.\\n\\nФормат: 800–1200 символов.\\n\\nВ КОНЦЕ ОБЯЗАТЕЛЬНО добавь:\\n🔗 https://www.apart.guru\\nПомощь с подбором, расчётом доходности и разбором объектов — 👉 @apartgurusupp'\n  },\n  {\n    type: 'object_review',\n    prompt: 'Ты — эксперт-аналитик канала Apart Guru (apart.guru).\\n\\nСТИЛЬ:\\n- Заголовок с эмодзи 🏨 или 🔍 — название объекта и город\\n- Ключевые цифры: ADR, загрузка, доходность, окупаемость\\n- Что привлекает инвесторов\\n- Твоё мнение: кому подойдёт\\n\\nВЫБЕРИ ОДИН ОБЪЕКТ:\\n- Yard Residence, Москва\\n- ARTSTUDIO, Санкт-Петербург\\n- Горки Город 540м, Сочи\\n- LIKE, Новосибирск\\n- Отель на Фонтанке, СПб\\n- VALO, СПб\\n- Yes Apart, Москва\\n\\nПозитивный ключ, с цифрами. 800–1200 символов.\\n\\nВ КОНЦЕ ОБЯЗАТЕЛЬНО добавь:\\n🔗 https://www.apart.guru\\nПомощь с подбором, расчётом доходности и разбором объектов — 👉 @apartgurusupp'\n  },\n  {\n    type: 'investor_education',\n    prompt: 'Ты — эксперт-аналитик канала Apart Guru (apart.guru).\\n\\nСТИЛЬ:\\n- Заголовок с эмодзи 💡 или 📊\\n- Конкретный совет с цифрами\\n- Подача: \"большинство делает ТАК, а умные инвесторы делают ВОТ ТАК\"\\n\\nТЕМУ ВЫБЕРИ ОДНУ:\\n- Почему НЕ надо смотреть на обещанную доходность застройщика\\n- Как отличить хорошую УК от плохой\\n- Почему загрузка 85% важнее ADR 10000₽\\n- Что такое NOI и почему это единственная честная метрика\\n- Как считать реальную окупаемость\\n- Почему апарты — это НЕ квартира (и почему это хорошо)\\n- 3 ошибки начинающего инвестора\\n\\nДанные: доходность 14-20%, NOI 1.16М₽/год, 54 проекта в базе.\\n\\n600–1000 символов.\\n\\nВ КОНЦЕ ОБЯЗАТЕЛЬНО добавь:\\n🔗 https://www.apart.guru\\nПомощь с подбором, расчётом доходности и разбором объектов — 👉 @apartgurusupp'\n  }\n];\n\nconst pick = types[Math.floor(Math.random() * types.length)];\nreturn [{ json: pick }];"
      },
      "id": "pick-topic",
      "name": "🎲 Рубрика",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1500,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.prompt) }}\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "claude-post",
      "name": "🤖 Claude (текст)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "post-text",
              "name": "postText",
              "value": "={{ $json.content[0].text }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "save-post",
      "name": "📝 Сохранить текст",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 300,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Generate a DALL-E 3 prompt in English for an image to accompany this social media post about real estate investment. Requirements: professional real estate photography or stylish infographic style, about apart-hotels and investment in Russia, NO text/letters/numbers/words on the image, 4k quality, premium look. Reply ONLY with the prompt, nothing else.\\n\\nPost text:\\n\" + {{ JSON.stringify($json.postText) }}\n    }\n  ]\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "claude-img",
      "name": "🤖 Claude (промпт картинки)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "keep-text",
              "name": "postText",
              "value": "={{ $('📝 Сохранить текст').item.json.postText }}",
              "type": "string"
            },
            {
              "id": "img-prompt",
              "name": "imagePrompt",
              "value": "={{ $json.content[0].text }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "combine",
      "name": "📝 Текст + промпт",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENAI_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"dall-e-3\",\n  \"prompt\": {{ JSON.stringify($json.imagePrompt) }},\n  \"n\": 1,\n  \"size\": \"1024x1024\",\n  \"quality\": \"standard\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "dalle",
      "name": "🎨 DALL-E",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "final-text",
              "name": "postText",
              "value": "={{ $('📝 Текст + промпт').item.json.postText }}",
              "type": "string"
            },
            {
              "id": "final-image",
              "name": "imageUrl",
              "value": "={{ $json.data[0].url }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "final",
      "name": "📦 Финал",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1480,
        200
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "1003297268985",
        "file": "={{ $json.imageUrl }}",
        "caption": "={{ $json.postText }}",
        "additionalFields": {}
      },
      "id": "telegram",
      "name": "📨 Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1780,
        0
      ],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Apart Guru Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vk.com/method/wall.post",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner_id",
              "value": "-YOUR_VK_GROUP_ID"
            },
            {
              "name": "from_group",
              "value": "1"
            },
            {
              "name": "message",
              "value": "={{ $json.postText }}"
            },
            {
              "name": "access_token",
              "value": "YOUR_VK_ACCESS_TOKEN"
            },
            {
              "name": "v",
              "value": "5.199"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "vk",
      "name": "💬 ВКонтакте (текст)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/YOUR_IG_ACCOUNT_ID/media",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.imageUrl }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.postText }}"
            },
            {
              "name": "access_token",
              "value": "YOUR_META_ACCESS_TOKEN"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "ig-container",
      "name": "📸 IG контейнер",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        320
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "ig-wait",
      "name": "⏳ 30 сек",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2020,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/YOUR_IG_ACCOUNT_ID/media_publish",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "access_token",
              "value": "YOUR_META_ACCESS_TOKEN"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "ig-publish",
      "name": "📸 IG публикация",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2260,
        320
      ]
    }
  ],
  "connections": {
    "⏰ Расписание": {
      "main": [
        [
          {
            "node": "🎲 Рубрика",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶️ Тест": {
      "main": [
        [
          {
            "node": "🎲 Рубрика",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎲 Рубрика": {
      "main": [
        [
          {
            "node": "🤖 Claude (текст)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Claude (текст)": {
      "main": [
        [
          {
            "node": "📝 Сохранить текст",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Сохранить текст": {
      "main": [
        [
          {
            "node": "🤖 Claude (промпт картинки)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Claude (промпт картинки)": {
      "main": [
        [
          {
            "node": "📝 Текст + промпт",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Текст + промпт": {
      "main": [
        [
          {
            "node": "🎨 DALL-E",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎨 DALL-E": {
      "main": [
        [
          {
            "node": "📦 Финал",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Финал": {
      "main": [
        [
          {
            "node": "📨 Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "💬 ВКонтакте (текст)",
            "type": "main",
            "index": 0
          },
          {
            "node": "📸 IG контейнер",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📸 IG контейнер": {
      "main": [
        [
          {
            "node": "⏳ 30 сек",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ 30 сек": {
      "main": [
        [
          {
            "node": "📸 IG публикация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Moscow"
  }
}